/* Google CSE 搜索框样式 */

/* 搜索框容器 */
.gsc-search-box.gsc-search-box-tools {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
  border-radius: 24px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  width: 692px;
  height: 46px;
}

.gsc-search-box-tools:hover {
  background: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
  border-color: transparent;
  border-radius: 24px;
}

/* 针对小屏幕的样式 */
@media (max-width: 600px) {
  .gsc-search-box.gsc-search-box-tools {
    width: calc(100vw - 28px);
  }
}

/* 输入框样式 */
.gsc-input-box {
  border: none !important;
  border-width: 0 !important;
  border-style: none !important;
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.gsc-input-box .gsc-input,
.gsc-input-box .gsc-input:focus {
  background-color: transparent !important;
  color: var(--uv-styles-color-text-default) !important;
  font-size: 16px !important;
}

/* 暗黑模式 */
@media (prefers-color-scheme: dark) {
  .gsc-search-box.gsc-search-box-tools {
    background: #333333;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .3);
    border: 1px solid #555555;
  }

  .gsc-input-box .gsc-input,
  .gsc-input-box .gsc-input:focus {
    color: #ffffff !important;
  }

  .gsc-search-button-v2 {
    background-color: #444444 !important;
  }
}

/* 搜索按钮样式 */
.gsc-search-button-v2 {
  border-radius: 25px !important;
  padding: 10px 20px !important;
  background-color: var(--uv-styles-color-primary) !important;
  border: none !important;
}

.gsc-search-button-v2:hover {
  cursor: pointer !important;
}

/* 扩展 gcse-searchbox */
.gcse-searchbox {
  flex-grow: 1;
}

/* 把原生的清除按钮删了 */
a.gsst_a {
  display: none;
}
